*,
::after,
::before {
  box-sizing: border-box;
}
* {
  outline: 0;
  padding: 0;
}
::before {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
figure {
  margin: 0px 0 1rem;
}
body {
  background-color: #f0f0f0;
  line-height: 1.75;
  background-color: #d8dbe0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  color: #515184;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.main-wrapper {
  opacity: 1;
  transition: all 0.25s ease-in;
  overflow: hidden;
  position: relative;
}
div {
  display: block;
}

.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-box-align: center;
  align-items: center;
  height: 96px;
  background: #fff;
  transition: left 0.25s;
  border: 0;
  display: flex;
  padding: 0 15px;
}
.nav-top {
  display: inline-block;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.nav-top .menu-icon4 {
  display: none;
}
.nav-top .menu-icon5 {
  display: none;
}
.nav-top a {
  text-decoration: none;
  line-height: 90px;
  width: 280px;
  text-align: left;
  padding-left: 10px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 0px;
  white-space: nowrap;
  outline: 0;
  cursor: pointer;
}

.icofont-crown {
  color: #00ff97;
  font-size: 32px;
  padding-right: 0.5rem;
  margin-left: 0;
  font-size: 36px;
}

.logo-text {
  line-height: 90px;
  transition: all 0.4s ease;
  font-family: "Fredoka One", cursive;
  font-weight: 600;
  display: inline-block;
  font-size: 32px;
  letter-spacing: 1px;
  color: #05f;
}

.header-search {
  display: inline-block;
}

input {
  padding-left: 3rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  border: 0;
  border-radius: 30px;
  font-size: 12px;
  line-height: 32px;
  width: 350px;
  background-color: #eee;
  text-rendering: auto;
  color: black, white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: 0px;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
}

.form-group i {
  margin-top: 15px;
  position: absolute;
  margin-left: 20px;
  color: #ced4da;
}

.nav-header .menu-icon {
  color: #adb5bd;
  background-color: #f5f5f5;
  border-color: #bcd5fe;
  font-size: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  color: #adb5db;
  position: relative;
  margin-left: 1rem;
  cursor: pointer;
  text-decoration: none;
  min-width: 50px;
}

.text-current {
  color: #05f;
}
.icon-right-group {
  margin-left: auto;
  min-width: 260px;
}
.menu-icon2 {
  background-color: white;
  border-color: #bcd5fe;
  font-size: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  color: #adb5db;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  /* margin-left: 400px; */
  padding: 0.5rem;
  color: #1e74fd;
  margin-left: auto;
}

.menu-icon2 .dot-count {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 5px;
  width: 7px;
  height: 7px;
  line-height: 15px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  background-color: tomato;
}

.menu-icon3 {
  background-color: white;
  border-color: #bcd5fe;
  font-size: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  color: #1e74fd;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem;
  margin-left: 1rem;
}
.menu-icon3 img {
  width: 40px;
  vertical-align: middle;
  margin-top: -0.4rem;
  border-radius: 50px;
}
.navigation {
  position: fixed;
  top: 0;
  flex-shrink: 0;
  width: 280px;
  height: 97vh;
  overflow: hidden;
  background: 0 0;
  transition: width 0.25s;
}
.container {
  padding-left: 0;
  padding-right: 0;
  margin-right: auto;
  margin-left: auto;
}

.scroll-bar {
  margin-left: 0;
  overflow-y: scroll;
}
.nav-wrap {
  background-color: #fff;
  padding-bottom: 0.25rem;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 15px;
  display: block;
  margin-right: 12px;
}
.nav-wrap2 {
  background-color: #fff;
  padding-bottom: 0.25rem;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 15px;
  display: block;
  margin-right: 12px;
}
.nav-content .nav-wrap ul li > a:hover span {
  color: #05f;
}
.nav-content .nav-wrap2 ul li > a:hover span {
  color: #05f;
}
.nav-content .nav-wrap3 ul li > a:hover span {
  color: #05f;
}
.nav-wrap3 {
  background-color: #fff;
  padding-bottom: 0.25rem;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 15px;
  display: block;
  margin-right: 12px;
}

.nav-caption {
  margin-bottom: 5px;
  padding-left: 25px;
  white-space: nowrap;
  font-weight: 600;
  color: #adb5bd;
  font-size: 12px;
  display: block;
}
.nav-content {
  width: 280px;
  transition: all 0.2s ease;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 100px;
}
.top-content {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-bottom: 0.25rem;
}
.navigation .nav-content a {
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 15px 12px 15px;
  white-space: nowrap;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  color: #888;
  height: 54px;
  display: flex;
  overflow: hidden;
  transition: all 0.2s ease;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}
.navigation .nav-content ul li {
  list-style-type: none;
  list-style-image: none;
  /* list-style: none; */
}
.navigation .nav-wrap ul li a i {
  font-size: 20px;
  color: #fff;
  top: 0;
  position: relative;
  margin-right: 1rem;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  display: inline-block;
  line-height: 45px;
  text-align: center;
}
.navigation .nav-wrap2 ul li a i {
  font-size: 20px;
  color: #095bef;
  top: 0;
  position: relative;
  margin-right: 1rem;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  display: inline-block;
  line-height: 45px;
  text-align: center;
}
.navigation .nav-wrap3 ul li a i {
  font-size: 20px;
  color: #888;
  top: 0;
  position: relative;
  margin-right: 1rem;
  width: 30px;
  height: 28px;
  border-radius: 45px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
}
.navigation .nav-content ul li a span {
  font-size: 15px;
  font-weight: 600px;
  line-height: 28px;
  transition: all 0.2s ease;
  margin-right: auto;
  padding-right: 10px;
}

.bt1 {
  background: linear-gradient(to right, #0575e6, #021b79);
}
.bt2 {
  background: linear-gradient(to right, #e44d26, #f16529);
}
.bt3 {
  background: linear-gradient(to right, #f2994a, #f2c94c);
}
.bt4 {
  background: linear-gradient(to right, #ee0979, #ff6a00);
}
.bt5 {
  background: linear-gradient(to right, #05f, #09f);
}
.ico-group2 {
  color: #1e74fd;
  background: #fff;
  width: 50px;
}
.circle-count {
  padding: 1px 6px;
  background-color: #fe9431;
  color: #fff;
  border-radius: 7px;
  position: absolute;
  left: 180px;
  display: inline-block;
  font-size: 13px;
  line-height: 28px;
}
.main-content {
  -webkit-box-flex: 1;
  padding-top: 5rem;
  padding-left: 20rem;
  padding-right: 290px;
  transition: all 0.25s;
  background-color: #fcffff;
  flex-grow: 1;
  width: 100%;
}
.middle-sidebar-bottom {
  width: 80%;
  margin: 0 auto;
}
.middle-sidebar-left {
  width: 100%;
}
.middle-sidebar-left1 {
  visibility: visible;
  overflow: visible;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.middle-sidebar-left2 {
  flex: 0 0 70%;
  max-width: 70%;
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}
.create-post-area {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 700;
  border-radius: 15px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}
.create-post-area textarea {
  font-weight: 600;
}
.text-area-icon {
  display: flex;
  padding: 0;
  margin-top: 0;
  flex: 1 1 auto;
}
.text-area-icon a {
  font-weight: 600;
  color: #495057;
  font-family: Montserrat, sans-serif;
  line-height: 1.75;
  font-size: 12px;
  display: flex;
  padding-right: 1.5rem;
  align-items: center;
  font-size: 12px;
}
.owl-carousel {
  display: block;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.owl-stage {
  transform: translate3d(0px, 0px, 0px);
  transition: all 0s ease 0s;
  width: 928px;
  position: relative;
  touch-action: manipulation;
}
.owl-item {
  width: auto;
  margin-right: 7px;
  touch-action: pan-y;
  user-select: none;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
}
.card {
  background-color: #343a40;
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
  box-shadow: none;
  display: block;
  overflow: hidden;
  border-radius: 10px !important;
  height: 200px !important;
  width: 125px !important;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}
.btn-round-lg {
  background-color: #fff !important;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  color: blue;
}
.card-body h4 {
  font-weight: 700;
  color: #fff;
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.4px;
  z-index: 2;
  line-height: 1.2;
}
.card-body {
  text-align: center;
  padding: 1rem !important;
  width: 100% !important;
  bottom: 25 !important;
  display: block !important;
  flex: 1 1 auto;
  margin-top: 93px;
}

.owl-item img {
  background-color: #fff !important;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  color: blue;
}
.st1 {
  background-image: url(./Photo/story11.jpg);
}
.st2 {
  background-image: url(./Photo/story2.jpg);
}
.st3 {
  background-image: url(./Photo/story3.jpg);
}
.st4 {
  background-image: url(./Photo/story4.jpg);
}
.st5 {
  background-image: url(./Photo/story6.jpg);
}
.st6 {
  background-image: url(./Photo/story6.jpg);
}
.icofont-pen-alt-4 {
  color: #1e74fd;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  display: inline-block;
  line-height: 35px;
  text-align: center;
  background-color: #f5f5f5 !important;
  line-height: 35px !important;
}
.create-post-area img {
  border-radius: 50%;
  width: 30px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.create-post-area .icofont-navigation-menu {
  color: #212529;
  font-size: 16px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  display: inline-block;
  line-height: 45px !important;
  text-align: center;
}
.create-post-area textarea {
  font-weight: 500px;
  color: #adb5bd;
  padding-left: 3rem;
  padding: 0.5rem;
  width: 100%;
  height: 100px;
  border-radius: 15px;
  border: 2px #f1f1f1 solid;
  font-size: 12px;
  resize: vertical;
  margin: 0;
  font-family: Montserrat, sans-serif;
}
.more-detail {
  color: #05f;
}
.text-area-label {
  color: #495057;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.create-post-btn a {
  font-size: 12px;
  color: #adb5bd;
  align-items: center;
  line-height: 1.75;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.text-area-icon .icon-menu {
  margin-left: auto;
  padding-right: 0;
}
.text-area-link i {
  padding-right: 10px;
  font-size: 22px;
}
.text-area-link span {
  padding-right: 10px;
}
.status-post textarea {
  padding-left: 50px;
  border: 2px solid #d5d6de;
  margin-top: 20px;
}
.status1 h4 {
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 700;
  color: #212529;
  margin-top: 0.25rem;
  margin-left: 20px;
}

.icofont-video-cam {
  color: #e50202;
}
.icofont-picture {
  color: #10d876;
}
.icofont-ui-camera {
  color: #fe9431;
}

.status-post img {
  padding: 0;
  margin-top: 28px;
  margin-left: 10px;
  position: absolute;
  flex: 1 1 auto;
}
.status-area {
  padding: 1.5rem;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 0;
  border: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}
.status-area .header-status {
  padding: 0 !important;
  display: flex;
  flex: 1 1 auto;
}
.status-area .header-status img {
  border-radius: 50% !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  width: 45px !important;
  height: 45px;
  vertical-align: middle;
  margin-right: 1rem;
}
.status-avata {
  margin-right: 1rem;
  margin: 0;
}
.status-area .header-status h4 {
  font-weight: 700;
  color: #212529;
  margin-top: 0.25rem;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  min-width: 80px;
}
.header-status a {
  margin-left: auto;
}
.status-area span {
  font-weight: 500;
  color: #adb5bd;
  margin-top: 0.25rem;
  display: block;
  font-size: 12px;
  line-height: 1.4;
}
.status1 {
  display: flex;
  position: relative;
}

.status-avata img {
  margin-right: 1rem;
  margin: 0 0 1rem;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  vertical-align: middle;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.status-area .icofont-navigation-menu {
  color: #212529;
  font-size: 16px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  display: inline-block;
  line-height: 45px !important;
  text-align: center;
  margin-left: auto;
}
.status-detail {
  font-weight: 500;
  color: #adb5bd;
  width: 100%;
  font-size: 12px;
  padding-right: 100px;
  line-height: 28px;
}
.status-area b {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  font-weight: 600;
}
.status-image-area {
  display: flex;
}
.status-image {
  padding: 0.25rem;
  flex: 0 0 auto;
  width: 33.33%;
}
.status-image img {
  border: 0.3rem;
  width: 100%;
}
.status-reaction {
  position: relative;
  align-items: center;
  display: flex;
}
.status-reaction a {
  line-height: 26px;
  display: flex;
  font-size: 13px;
  color: #212529;
  font-weight: 600;
  align-items: center;
  font-size: 12px;
}
.status-reaction i {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  display: inline-block;
  line-height: 25px !important;
  text-align: center;
  margin-right: .25rem;
  font-size: 16px;
}
.fa-thumbs-o-up{
  color: #fff;
  background: linear-gradient(135deg,#05f,#09f);
}
.fa-heart-o{
  color: #fff;
  background: linear-gradient(to right,#e44d26,#f16529);
}
.status-like i{
  margin-right: .25rem;
}
.status-comment i{
  font-size: 25px;
  padding-right: 1rem;
  margin-right: .25rem;
}
.status-share i{
  font-size: 25px;
}
.status-like {
  padding-right: 1rem;
}
.status-share{
  margin-left: auto;
}
.iframe {
  width: 100px;
  height: 100px;
}
.friend-row {
  flex: 0 0 30%;
  max-width: 30%;
  padding-left: 0;
  width: 33.3333333333%;
  font-family: Montserrat, sans-serif;
  border: 1px solid red;
}
.friend-request-row {
  margin-bottom: 1rem;
  width: 80%;
  border: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 15px;
  min-width: 280px;
}
.friend-request-row2 {
  margin-bottom: 1rem;
  width: 80%;
  border: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 15px;
  min-width: 280px;
}
.friend-request-row2 > .accept-friend {
  background-color: #eee;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.3rem;
  margin-top: 10px;
}
.friend-request-row2 > .accept-friend i {
  margin-top: 30px;
  margin-left: 25px;
}
.accept-friend img {
  display: flex;
  width: 45px;
  height: 45px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 50px;
}
.friend-request-row3 {
  margin-bottom: 1rem;
  width: 80%;
  border: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 15px;
  min-width: 280px;
}
.friend-request-row3 > .bg-group > img {
  width: 100%;
  border-radius: 20px;
  height: 200px;
  padding: 10px;
  margin-top: 0;
}
.member-list > ul > li > a > img {
  width: 35px;
  height: 35px;
  border-radius: 20px;
}
.member-list > ul > li > a {
  position: relative;
  margin-left: 0;
  display: block;
}
.friend-request-row4 {
  margin-bottom: 1rem;
  width: 80%;
  border: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 15px;
  min-width: 280px;
}
.friend-request-row4 .suggest-page-img img {
  width: 100%;
  border-radius: 20px;
  height: 200px;
  padding: 10px 10px 0 10px;
  margin-top: 0;
}
.suggest-page-btn {
  display: flex;
  font-weight: 700;
  flex: 1 1 auto;
  border-radius: 30px;
  background-color: #eee;
  margin: 0 1rem 1rem 1rem;
}
.suggest-page-btn a {
  text-align: center;
  width: 100%;
  align-items: center;
  line-height: 28px;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  font-size: 12px;
  color: black;
}
.friend-request-row5 {
  margin-bottom: 1rem;
  width: 80%;
  border: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 15px;
  min-width: 280px;
}
.friend-request-row5 .friend-header a {
  margin-left: 120px;
}
.friend-request-row5 .event-detail1 {
  /* padding-left: 1.5rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem; */
  display: flex;
  /* overflow: hidden; */
  /* flex: 1 1 auto; */
  padding: 1rem 1rem;
}
.friend-request-row5 .event-detail1 .date-event-detail {
  background-color: #10d876;
  padding: 1rem;
  margin-right: 0.5rem;
  border-radius: 15px;
  margin: 0;
}
.friend-request-row5 .event-detail1 .date-event-detail h4 {
  font-weight: 700;
  color: #fff;
  line-height: 1;
  font-size: 25px;
  letter-spacing: 1px;
  margin: 0;
}
.friend-request-row5 .event-detail1 .date-event-detail h4 span {
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  display: block;
  letter-spacing: 0.4px;
  margin: 0;
  /* margin-top: 10px; */
  line-height: 1;
}
.friend-request-row5 .event-detail1 h4 {
  color: #212529;
  margin-left: 10px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.friend-request-row5 .event-detail1 h4 span {
  font-weight: 500;
  color: #adb5bd;
  margin-top: 0.25rem;
  line-height: 1.6;
  display: block;
  font-size: 10px;
}
.friend-request-row5 .friend-header a {
  margin-left: 120px;
}
.friend-request-row5 .event-detail2 {
  /* padding-left: 1.5rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem; */
  display: flex;
  /* overflow: hidden; */
  /* flex: 1 1 auto; */
  padding: 1rem 1rem;
}
.friend-request-row5 .event-detail2 .date-event-detail {
  background-color: #fe9431;
  padding: 1rem;
  margin-right: 0.5rem;
  border-radius: 15px;
  margin: 0;
}
.friend-request-row5 .event-detail2 .date-event-detail h4 {
  font-weight: 700;
  color: #fff;
  line-height: 1;
  font-size: 25px;
  letter-spacing: 1px;
  margin: 0;
}
.friend-request-row5 .event-detail2 .date-event-detail h4 span {
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  display: block;
  letter-spacing: 0.4px;
  margin: 0;
  /* margin-top: 10px; */
  line-height: 1;
}
.friend-request-row5 .event-detail2 h4 {
  color: #212529;
  margin-left: 10px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.friend-request-row5 .event-detail2 h4 span {
  font-weight: 500;
  color: #adb5bd;
  margin-top: 0.25rem;
  line-height: 1.6;
  display: block;
  font-size: 10px;
}
.friend-request-row5 .friend-header a {
  margin-left: 120px;
}
.friend-request-row5 .event-detail3 {
  /* padding-left: 1.5rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem; */
  display: flex;
  /* overflow: hidden; */
  /* flex: 1 1 auto; */
  padding: 1rem 1rem;
}
.friend-request-row5 .event-detail3 .date-event-detail {
  background-color: #0575e6;
  padding: 1rem;
  margin-right: 0.5rem;
  border-radius: 15px;
  margin: 0;
}
.friend-request-row5 .event-detail3 .date-event-detail h4 {
  font-weight: 700;
  color: #fff;
  line-height: 1;
  font-size: 25px;
  letter-spacing: 1px;
  margin: 0;
}
.friend-request-row5 .event-detail3 .date-event-detail h4 span {
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  display: block;
  letter-spacing: 0.4px;
  margin: 0;
  /* margin-top: 10px; */
  line-height: 1;
}
.friend-request-row5 .event-detail3 h4 {
  color: #212529;
  margin-left: 10px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.friend-request-row5 .event-detail3 h4 span {
  font-weight: 500;
  color: #adb5bd;
  margin-top: 0.25rem;
  line-height: 1.6;
  display: block;
  font-size: 10px;
}
.friend-header {
  color: #212529;
  font-weight: 700;
  padding: 1.5rem;
  border-bottom: ridge;
}

.right-chat {
  position: fixed;
  right: 0;
  top: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 290px;
  height: 94vh;
  overflow: hidden;
  background: 0 0;
  transition: all 0.25s ease;
  padding-top: calc(90px + 6px);
  padding-right: 1rem;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  font-family: Montserrat, sans-serif;
  background-color: #fff;
  margin-left: 0;
  overflow-y: scroll;
}
.right-chat h4 {
  font-weight: 700;
  color: #adb5bd;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.right-chat img {
  width: 44px;
  vertical-align: middle;
  color: #212529;
  font-size: 20px;
  border-radius: 50%;
  /* margin-left: 15px; */
}

.have-mess a {
  margin-left: 20px;
}
.right-chat li {
  position: relative;
  background-color: transparent;
  align-items: center;
  display: flex;
  text-decoration: none;
  list-style: none;
  text-align: -webkit-match-parent;
}
.right-chat a {
  color: #212529;
  margin-left: 20px;
}
.have-mess a {
  font-size: 12px;
}
.online-mess a {
  font-size: 12px;
}
.offline-mess a {
  font-size: 12px;
}
.online-mess2 a {
  font-size: 12px;
}
.have-mess span {
  position: absolute;
  right: 0;
  top: 18px;
  font-size: 12px;
  color: #999;
  margin-top: 3px;
  font-weight: 500 !important;
  color: #fff !important;
  margin-top: 0 !important;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #1e74fd;
  border-radius: 10rem !important;
}
.online-mess span {
  width: 8px;
  height: 8px;
  background-color: #10d876;
  border-radius: 50%;
  margin-left: 92px;
  font-size: 12px;
  color: #999;
  margin-top: 3px;
  margin-left: auto;
  display: inline-block;
  line-height: 25px;
  text-align: center;
  list-style: none;
}
.offline-mess > span {
  position: absolute;
  right: 0;
  top: 18px;
  color: #adb5bd;
  padding-right: 0;
  margin-top: 0;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10rem;
}
.online-mess2 > span {
  width: 8px;
  height: 8px;
  background-color: orange;
  border-radius: 50%;
  margin-left: 92px;
  font-size: 12px;
  color: #999;
  margin-top: 3px;
  margin-left: auto;
  display: inline-block;
  line-height: 25px;
  text-align: center;
  list-style: none;
}
.middle-sidebar-right {
  flex: 0 0 30%;
  max-width: 30%;
}
.friend-header {
  padding: 1.5rem;
  align-items: center;
  font-size: 12px;
  display: flex;
}
.friend-header a {
  color: #0575e6;
  margin-left: 70px;
  font-weight: 600;
}
.accept-friend {
  display: flex;
  margin-top: 0;
}
.accept-friend h4 {
  color: black;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}
.accept-friend span {
  color: #adb5bd;
  font-weight: 500;
}
.accept-friend-btn a {
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding: 12px 25px 12px 25px;
  /* margin-right: .5rem; */
  border-radius: 30px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.4px;
  background: linear-gradient(#05f, #1e74fd);
  margin-left: 20px;
}
.accept-friend-btn .delete-btn {
  font-weight: 600;
  color: black;
  text-align: center;
  padding: 12px 25px 12px 25px;
  margin-right: 0.5rem;
  border-radius: 30px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.4px;
  background: #eee;
}
.accept-friend-btn {
  margin-bottom: 20px;
}
.member-list {
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0;
  flex: 1 1 auto;
}
.member-list1 {
  position: relative;
  margin-left: 0;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
}
.member-list li {
  display: inline-block;
  float: none;
  position: relative;
  width: 15px;
  list-style: none;
}
.member-list li a {
  text-decoration: none;
}
.member-list li a img {
  opacity: 1;
  display: inline-block;
  width: 35px;
  vertical-align: middle;
}
.last-member a {
  height: 35px;
  line-height: 35px;
  display: inline-block;
  border-radius: 30px;
  font-weight: 600;
  color: #adb5bd;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  width: 35px;
  background-color: #f5f5f5;
}
.text-member-apply {
  padding-left: 1rem;
  margin-left: 0.25rem;
}
.text-member-apply a {
  font-weight: 700;
  color: #adb5bd;
  font-size: 12px;
  width: 80px;
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: linear-gradient(transparent, #30ff00);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: linear-gradient(transparent, #00c6ff);
}
.group-chat {
  /* padding-left: 1rem; */
  padding-bottom: 1.5rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  position: relative;
}
.group-chat h4 {
  margin-left: 0;
}
.group-chat ul {
  display: flex;
  flex-direction: column;
  /* padding-left: 0; */
  margin-bottom: 0;
}
.group-chat ul li {
  position: relative;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: transparent;
  align-items: center;
  /* margin-left: 15px; */
}
.ava-group1 {
  background: linear-gradient(#05f, #09f);
  width: 35px;
  height: 35px;
  border-radius: 35px;
  display: inline-block;
  line-height: 35px !important;
  text-align: center;
  letter-spacing: 1px;
  color: white;
}
.ava-group2 {
  background: linear-gradient(#f2994a, #f2c94c);
  width: 35px;
  height: 35px;
  border-radius: 35px;
  display: inline-block;
  line-height: 35px !important;
  text-align: center;
  letter-spacing: 1px;
  color: white;
}
.ava-group3 {
  background: linear-gradient(#ee0979, #ff6a00);
  width: 35px;
  height: 35px;
  border-radius: 35px;
  display: inline-block;
  line-height: 35px !important;
  text-align: center;
  letter-spacing: 1px;
  color: white;
}
.time-off-group {
  position: absolute;
  right: 0;
  top: 18px;
  color: #adb5bd;
  padding-right: 0;
  margin-top: 0;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10rem;
}
.icon-group-right2 {
  display: none;
  min-width: 200px;
}

/* .fa-bars{
   position: relative;
   width: 2.5rem;
} */

/* Responsive */
/* heading mobile */
@media only screen and (max-width: 991.98px) {
  .nav-header {
    padding: 9px 15px 9px 15px;
    height: auto;
    position: fixed;
    top: env(safe-area-inset-top);
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.03)!important;
  }
  .nav-top {
    display: flex;
    width: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .header-search {
    display: none;
  }
  .nav-header .menu-icon {
    display: none;
  }
  .logo-text {
    line-height: 28px;
    font-size: 24px;
    font-family: "Fredoka One",cursive;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  .icon-right-group {
    display: none;
  }
  .nav-top .menu-icon4 {
    display: flex;
    font-size: 20px;
    padding-right: 1.5rem;
    margin-left: auto;
  }
  .nav-top .menu-icon4 i{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    background-color: #f5f5f5;
    color: black;
  }
  .nav-top .menu-icon5 {
    display: flex;
    font-size: 20px;
    padding-right: 1.5rem;
  }
  .nav-top .menu-icon5 i{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    background-color: #f5f5f5;
    color: black;
  }
  .nav-top a {
    width: auto;
    
    display: inline-block;
  }
  .icon-group-right2 {
    border: 1px solid red;
    display: flex;
    margin-left: 26rem;
    min-width: 170px;
  }
  .nav-content {
    display: none;
  }
  .middle-sidebar-right {
    display: none;
  }
  .right-chat {
    display: none;
  }
  .main-content {
    padding: 0;
    width: 100%;
  }
  .middle-sidebar-bottom {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .middle-sidebar-left {
    width: 100%;
    padding-top: 5rem;
  }
  .middle-sidebar-left1 {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .middle-sidebar-left2 {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1199px;
  }
}
@media only screen and (max-width: 1384px){
  .right-chat{
    display: none;
  }
  .text-area-link span{
    display: none;
  }
}
